<div class="text-bg-light rounded-3 p-5  text-center mb-5">
  <div class="container">

  <h1 class="display-5 fw-bold">{{title}}</h1>
  <p class="lead fs-4">Jot down your next youtube ideas</p>
  <a href="/ideas/add" class="btn btn-outline-dark btn-lg">Add Video Idea</a>
  </div>
</div> 